<div class="background wrapper">
    <div class="form-changepassword fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img class="w-25 p-3" src="/images/Member-img/logo.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form method="POST" action="/users/changepassword">
                <div class="login-box">
                    <input name="old_password" type="password" id="password" class="fadeIn third"
                        placeholder="Mật khẩu cũ">
                    <input name="new_password_1" type="password" id="password" class="fadeIn third"
                        placeholder="Mật khẩu mới">
                    <input name="new_password_2" type="password" id="password" class="fadeIn third"
                        placeholder="Nhập lại mật khẩu mới">
                </div>

                <input type="submit" class="fadeIn fourth mb-3" value="Change password">
                <input style="background-color: red !important" type="button" onclick="location.href='/'; " class="fadeIn fourth mt-0" value="Back">

                {{#if msg}}
                <div class="form-group">
                    <div class="mx-auto w-75 alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{msg}}
                    </div>
                </div>
                {{/if}}

                {{#if msgSuccess}}
                <div class="form-group">
                    <div class="mx-auto w-75 alert alert-success alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{msgSuccess}}
                    </div>
                </div>
                {{/if}}
            </form>


            <!-- Remind Passowrd -->
            {{!-- <div id="formFooter">
                <div class="row ">
                    <div class="p-2 col-lg-12 col-md-12">
                        <a class="p-2 w-75 btn btn-outline-dark bg-secondary " href="/auth/google" role="button"
                            style="text-transform:none; color: white">
                            <img width="20px" alt="Google sign-in"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                            Continue with Google
                        </a>
                    </div>

                </div>
                <a class="register-btn underlineHover" href="#">Sign up</a><br>
                <a class="forgotpassword-btn underlineHover" href="#">Forgot Password?</a>
            </div> --}}

        </div>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css    ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.form-register').hide();
            $('.form-forgotpassword').hide();
            $('.register-btn').click(function () {
                $('.form-login').hide();
                $('.form-register').fadeIn();
                $('#login').focus();
            })

            $('.login-btn').click(function () {
                $('.form-register').hide();
                $('.form-login').fadeIn();
                $('#username').focus();
            })

            $('.forgotpassword-btn').click(function () {
                $('.form-register').hide();
                $('.form-login').hide();
                $('.form-forgotpassword').fadeIn();
            })
        })
    </script>


</div>