<link rel="stylesheet" href="css/cv2.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/themify-icons/themify-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div id="background">
  <div id="circle">

    <div id="circle-glow"></div>
    {{!-- <img src="/images/Member-img/logo.png" alt=""> --}}
    <div id="circle-inner"></div>
  </div>
</div>

<div id="app">

  <div id="nav">
    <div id="nav-items">
      <div class="nav-item">
        <img height="50vh" src="/images/Member-img/logo2.png" alt="">
      </div>
      <div onclick="window.location.href='/'" class="nav-item">
        <i class="fa-solid fa-house"></i>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-comment"></i>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-bolt"></i>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-image"></i>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-chart-simple"></i>
      </div>
      <div class="nav-item">
        <i class="fa-solid fa-dice"></i>
      </div>
    </div>
  </div>


  <div id="profiles">
    <div class="profile">
      <div id="trigger-1" class="profile-content ">
        <div class="profile-pic">
          <img class="profile-pic-image" src="/images/Member-img/dung.jpg" />
        </div>
        <h4 class="profile-name">Kuo Nhan Dung</h4>
      </div>
    </div>

    <div class="profile">
      <div id="trigger-2" class="profile-content">
        <div class="profile-pic">
          <img class="profile-pic-image" src="/images/Member-img/hoang.jpg" />
        </div>
        <h4 class="profile-name">Trần Khải Hoàng</h4>
      </div>
    </div>

    <div class="profile">
      <div id="trigger-3" class="profile-content">
        <div class="profile-pic">
          <img class="profile-pic-image" src="/images/Member-img/phu.jpg" />
        </div>
        <h4 class="profile-name">Lê Gia Phú</h4>
      </div>
    </div>

    <div class="profile">
      <div id="trigger-4" class="profile-content">
        <div class="profile-pic">
          <img class="profile-pic-image" src="/images/Member-img/baochu.jpg" />
        </div>
        <h4 class="profile-name">Chu Trần Gia Bảo</h4>
      </div>
    </div>

    <div class="profile">
      <div id="trigger-5" class="profile-content">
        <div class="profile-pic">
          <img class="profile-pic-image" src="/images/Member-img/quy.jpg" />
        </div>
        <h4 class="profile-name">Nguyễn Đình Quý</h4>
      </div>
    </div>

    <div class="profile">
      <div id="trigger-6" class="profile-content">
        <div class="profile-pic">
          <img class="profile-pic-image" src="/images/Member-img/thong.jpg" />
        </div>
        <h4 class="profile-name">Nguyễn Nhất Thống</h4>
      </div>
    </div>

    <div class="profile">
      <div id="trigger-7" class="profile-content">
        <div class="profile-pic">
          <img class="profile-pic-image" src="/images/Member-img/duy.jpg" />
        </div>
        <h4 class="profile-name">Nguyễn Trần Thanh Duy</h4>
      </div>
    </div>

    <div class="profile">
      <div id="trigger-8" class="profile-content">
        <div class="profile-pic">
          <img class="profile-pic-image" src="/images/Member-img/ha.png" />
        </div>
        <h4 class="profile-name">Trà Lâm Thanh Hà</h4>
      </div>
    </div>

    <div class="profile">
      <div id="trigger-9" class="profile-content">
        <div class="profile-pic">
          <img class="profile-pic-image" src="/images/Member-img/khiem.jpg" />
        </div>
        <h4 class="profile-name">Nguyễn Gia Khiêm</h4>
      </div>
    </div>

    <div class="profile">
      <div id="trigger-10" class="profile-content">
        <div class="profile-pic">
          <img class="profile-pic-image" src="/images/Member-img/phat.jpg" />
        </div>
        <h4 class="profile-name">Nguyễn Tấn Phát</h4>
      </div>
    </div>

    <div id="content" class="wrapper">
      <div class="box">
        <div class="description mx-auto">
          <div class="row">
            <div class="col-md-12">
              <div class="profile-pic text-center my-4">
                <img id="member-img" style="width: 150px; border-radius: 5px 20px 5px; border: 5px solid black"
                  class="profile-pic-image"
                  src="https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.6435-9/88959446_2510160419089261_4236741485225050112_n.jpg?_nc_cat=101&amp;ccb=1-7&amp;_nc_sid=174925&amp;_nc_ohc=_pPpgk7Gi0UAX8wrB_x&amp;_nc_ht=scontent.fsgn4-1.fna&amp;oh=00_AT-HwIZDdPFnQS-iv4h74Qd3uAHp7rNwuI9V9xdE1j21KA&amp;oe=62DA81A3" />
              </div>
              <div class="info-content text-center">
                <p class="my-2">
                  <span class="ti-user"></span>
                  <span id="name">Chu trần Gia Bảo</span>
                </p>
                <p class="my-2">
                  <span class="ti-pulse"></span>
                  <span id="birth">08-03-2002</span>
                </p>
                <p class="my-2">
                  <span class="ti-location-arrow"></span>
                  <span id="location">Quận 12 TP.HCM</span>
                </p>
                <p class="my-2">
                  <span class="ti-mobile"></span>
                  <span id="phone">0767916592</span>
                </p>
                <p class="my-2">
                  <span class="ti-email"></span>
                  <span id="email">520H0619@student.tdtu.edu.vn</span>
                </p>
                <p class="my-2">
                  <span class="ti-star"></span>
                  <span id="langs">NodeJS, MongoDB, C++</span>
                </p>
              </div>
            </div>

          </div>

          <br>


          <ul class="list">
            <li><a id="facebook" href="https://twitter.com/sudo_Jayasree" target="_blank" rel="noopener noreferrer"><i
                  class="fab ti-facebook"></i></a></li>
            <li><a id="github" href="https://github.com/Jayasree77" target="_blank"><i class="fab fa-github"></i></a>
            </li>
            <li><a id="linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>

    // Create an immediately invoked functional expression to wrap our code
    (function () {

      // Define our constructor 
      this.Modal = function () {

        // Create global element references
        this.closeButton = null;
        this.modal = null;
        this.overlay = null;

        // Determine proper prefix
        this.transitionEnd = transitionSelect();

        // Define option defaults 
        var defaults = {
          autoOpen: false,
          className: 'fade-and-drop',
          closeButton: true,
          content: "",
          maxWidth: 600,
          minWidth: 280,
          overlay: true
        }

        // Create options by extending defaults with the passed in arugments
        if (arguments[0] && typeof arguments[0] === "object") {
          this.options = extendDefaults(defaults, arguments[0]);
        }

        if (this.options.autoOpen === true) this.open();

      }

      // Public Methods

      Modal.prototype.close = function () {
        var _ = this;
        this.modal.className = this.modal.className.replace(" scotch-open", "");
        this.overlay.className = this.overlay.className.replace(" scotch-open",
          "");
        this.modal.addEventListener(this.transitionEnd, function () {
          _.modal.parentNode.removeChild(_.modal);
        });
        this.overlay.addEventListener(this.transitionEnd, function () {
          if (_.overlay.parentNode) _.overlay.parentNode.removeChild(_.overlay);
        });
      }

      Modal.prototype.open = function () {
        buildOut.call(this);
        initializeEvents.call(this);
        window.getComputedStyle(this.modal).height;
        this.modal.className = this.modal.className +
          (this.modal.offsetHeight > window.innerHeight ?
            " scotch-open scotch-anchored" : " scotch-open");
        this.overlay.className = this.overlay.className + " scotch-open";
      }

      // Private Methods

      function buildOut() {

        var content, contentHolder, docFrag;

        /*
         * If content is an HTML string, append the HTML string.
         * If content is a domNode, append its content.
         */

        if (typeof this.options.content === "string") {
          content = this.options.content;
        } else {
          content = this.options.content.innerHTML;
        }

        // Create a DocumentFragment to build with
        docFrag = document.createDocumentFragment();

        // Create modal element
        this.modal = document.createElement("div");
        this.modal.className = "scotch-modal " + this.options.className;
        this.modal.style.minWidth = this.options.minWidth + "px";
        this.modal.style.maxWidth = this.options.maxWidth + "px";

        // If closeButton option is true, add a close button
        if (this.options.closeButton === true) {
          this.closeButton = document.createElement("button");
          this.closeButton.className = "scotch-close close-button";
          this.closeButton.innerHTML = "&times;";
          this.modal.appendChild(this.closeButton);
        }

        // If overlay is true, add one
        if (this.options.overlay === true) {
          this.overlay = document.createElement("div");
          this.overlay.className = "scotch-overlay " + this.options.className;
          docFrag.appendChild(this.overlay);
        }

        // Create content area and append to modal
        contentHolder = document.createElement("div");
        contentHolder.className = "scotch-content";
        contentHolder.innerHTML = content;
        this.modal.appendChild(contentHolder);

        // Append modal to DocumentFragment
        docFrag.appendChild(this.modal);

        // Append DocumentFragment to body
        document.body.appendChild(docFrag);

      }

      function extendDefaults(source, properties) {
        var property;
        for (property in properties) {
          if (properties.hasOwnProperty(property)) {
            source[property] = properties[property];
          }
        }
        return source;
      }

      function initializeEvents() {

        if (this.closeButton) {
          this.closeButton.addEventListener('click', this.close.bind(this));
        }

        if (this.overlay) {
          this.overlay.addEventListener('click', this.close.bind(this));
        }

      }

      function transitionSelect() {
        var el = document.createElement("div");
        if (el.style.WebkitTransition) return "webkitTransitionEnd";
        if (el.style.OTransition) return "oTransitionEnd";
        return 'transitionend';
      }

    }());

    var myContent = document.getElementById('content');

    var myModal = new Modal({
      content: myContent
    });

    function getModal(trigger, member, img) {
      document.getElementById(trigger).addEventListener('click', function () {
        document.getElementById('member-img').src = img;
        document.getElementById('name').innerHTML = member.name;
        document.getElementById('birth').innerHTML = member.birth;
        document.getElementById('location').innerHTML = member.location;
        document.getElementById('phone').innerHTML = member.phone;
        document.getElementById('email').innerHTML = member.email;
        document.getElementById('langs').innerHTML = member.langs;
        document.getElementById('facebook').href = member.facebook || "#";
        document.getElementById('github').href = member.github || "#";
        document.getElementById('linkedin').href = member.linkedin || "#";
        
        myModal.open();
      })
    }



    var triggerButton = document.getElementById('trigger-1');
    var Dung = {
      name: 'Kuo Nhan Dung',
      birth: '24-05-1996',
      location: 'Quận 12 TP.HCM',
      phone: '0767916592',
      email: '520H0619@student.tdtu.edu.vn',
      langs: 'NodeJS, MongoDB, C++',
      facebook: 'https://www.facebook.com/kennon124',
      github: 'https://github.com/keysKuo'
    }

    var Khiem = {
      name: 'Nguyễn Gia Khiêm',
      birth: '04-11-2002',
      location: 'Quận 4 TPHCM',
      phone: '0777552332',
      email: '520h0464@student.tdtu.edu.vn',
      langs: 'Lời thì thầm của đá',
      facebook: 'https://www.facebook.com/Khiemnguyen04',
    }

    var Bao = {
      name: 'Chu Trần Gia Bảo',
      birth: '08-03-2002',
      location: 'Quận 3 TPHCM',
      phone: '0777984897',
      email: '520h0011@student.tdtu.edu.vn',
      langs: 'Java, Python',
      facebook: 'https://www.facebook.com/profile.php?id=100008458470670',
    }

    var Duy = {
      name: 'Nguyễn Trần Thanh Duy',
      birth: '26-04-2002',
      location: 'Bình Tân TP.HCM',
      phone: '0347263120',
      email: '520h0624@student.tdtu.edu.vn',
      langs: 'DevilStone',
      facebook: 'https://www.facebook.com/profile.php?id=100011309191454',
    }

    var Quy = {
      name: 'Nguyễn Đình Quý',
      birth: '10-09-2002',
      location: 'Quận 12, TPHCM',
      phone: '0939840429',
      email: '520H0675@student.tdtu.edu.vn',
      langs: 'Python và các ngôn ngữ khác (khác gì thì nói rõ)',
      facebook: 'https://www.facebook.com/jhon.nguyen.923',
    }

    var Thong = {
      name: 'Nguyễn Nhất Thống',
      birth: '20-03-2002',
      location: 'Bình Tân, TPHCM',
      phone: '0386060815',
      email: '52000808@student.tdtu.edu.vn',
      langs: 'JavaScript, Java',
      facebook: 'https://www.facebook.com/profile.php?id=100011931781112',
    }

    var Phat = {
      name: 'Nguyễn Tấn Phát',
      birth: '18-01-2002',
      location: 'Quận 7, TPHCM',
      phone: '0178361273',
      email: '52000698@student.tdtu.edu.vn',
      langs: 'No Code',
      facebook: 'https://www.facebook.com/phahuydiacau',
    }

    var Ha = {
      name: 'Trà Lâm Thanh Hà',
      birth: '05-12-2002',
      location: 'Quận 8, TPHCM',
      phone: '0827051202',
      email: '520H0627@student.tdtu.edu.vn',
      langs: 'Java, Python',
      facebook: 'https://www.facebook.com/tlth2002',
    }

    var Phu = {
      name: 'Lê Gia Phú',
      birth: '29-12-2002',
      location: 'Quận 4, TPHCM',
      phone: '0852068832',
      email: '520H0401@student.tdtu.edu.vn',
      langs: 'Java, Python, C, SQL',
      facebook: 'https://www.facebook.com/GiaPhu2912/',
    }

    getModal('trigger-1', Dung, '/images/Member-img/dung.jpg')
    getModal('trigger-3', Phu, '/images/Member-img/phu.jpg')
    getModal('trigger-4', Bao, '/images/Member-img/baochu.jpg')
    getModal('trigger-5', Quy, '/images/Member-img/quy.jpg')
    getModal('trigger-6', Thong, '/images/Member-img/thong.jpg')
    getModal('trigger-7', Duy, '/images/Member-img/duy.jpg')
    getModal('trigger-8', Ha, '/images/Member-img/ha.png')
    getModal('trigger-9', Khiem, '/images/Member-img/khiem.jpg')
    getModal('trigger-10', Phat, '/images/Member-img/phat.jpg')






  </script>