<script src="https://cdn01.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.32954" type="text/javascript"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
<script src="https://cdn03.jotfor.ms/js/vendor/imageinfo.js?v=3.3.32954" type="text/javascript"></script>
<script src="https://cdn01.jotfor.ms/file-uploader/fileuploader.js?v=3.3.32954"></script>
<script type="text/javascript">	JotForm.newDefaultTheme = true;
  JotForm.extendsNewTheme = false;
  JotForm.newPaymentUIForNewCreatedForms = false;
  JotForm.newPaymentUI = true;

  JotForm.init(function () {
    /*INIT-START*/
    setTimeout(function () {
      $('input_5').hint('ex: myname@example.com');
    }, 20);
    if (window.JotForm && JotForm.accessible) $('input_4').setAttribute('tabindex', 0);
    if (window.JotForm && JotForm.accessible) $('input_8').setAttribute('tabindex', 0);
    if (window.JotForm && JotForm.accessible) $('input_6').setAttribute('tabindex', 0);
    JotForm.setCustomHint('input_6', 'Type here...');
    setTimeout(function () {
      JotForm.initMultipleUploads();
    }, 2);
    /*INIT-END*/
  });

  JotForm.prepareCalculationsOnTheFly([null, { "name": "clickTo", "qid": "1", "text": "IT Service Ticket", "type": "control_head" }, { "name": "submit", "qid": "2", "text": "Submit", "type": "control_button" }, { "name": "name", "qid": "3", "text": "Name", "type": "control_fullname" }, { "name": "department", "qid": "4", "text": "Department", "type": "control_textbox" }, { "name": "email5", "qid": "5", "subLabel": "example@example.com", "text": "E-mail", "type": "control_email" }, { "name": "describeThe", "qid": "6", "text": "Describe the Problem", "type": "control_textarea" }, { "name": "uploadScreenshot", "qid": "7", "text": "Upload Screenshot", "type": "control_fileupload" }, { "name": "computerId", "qid": "8", "text": "Computer ID", "type": "control_textbox" }]);
  setTimeout(function () {
    JotForm.paymentExtrasOnTheFly([null, { "name": "clickTo", "qid": "1", "text": "IT Service Ticket", "type": "control_head" }, { "name": "submit", "qid": "2", "text": "Submit", "type": "control_button" }, { "name": "name", "qid": "3", "text": "Name", "type": "control_fullname" }, { "name": "department", "qid": "4", "text": "Department", "type": "control_textbox" }, { "name": "email5", "qid": "5", "subLabel": "example@example.com", "text": "E-mail", "type": "control_email" }, { "name": "describeThe", "qid": "6", "text": "Describe the Problem", "type": "control_textarea" }, { "name": "uploadScreenshot", "qid": "7", "text": "Upload Screenshot", "type": "control_fileupload" }, { "name": "computerId", "qid": "8", "text": "Computer ID", "type": "control_textbox" }]);
  }, 20); 
</script>
<style type="text/css">
  @media print {
    .form-section {
      display: inline !important
    }

    .form-pagebreak {
      display: none !important
    }

    .form-section-closed {
      height: auto !important
    }

    .page-section {
      position: initial !important
    }
  }
</style>
<link type="text/css" rel="stylesheet"
  href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f7ed99c2c2c7240ba580251" />
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.32954" />
<link type="text/css" rel="stylesheet"
  href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.32954" />
<form class="jotform-form" action="/users/update" method="post" enctype="multipart/form-data">
  <input type="hidden" name="formID" value="221163554997465" />
  <input type="hidden" id="JWTContainer" value="" />
  <input type="hidden" id="cardinalOrderNumber" value="" />
  <div role="main" class="form-all fadeInRight">
    <style>
      .form-all:before {
        background: none;
      }
    </style>
    <ul class="form-section page-section">
      <li id="cid_1" class="form-input-wide" data-type="control_head">
        <div class="form-header-group  header-large">
          <div class="header-text httal htvam">
            <h1 id="header_1" class="form-header" data-component="header">
              Profile
            </h1>
            <div id="subHeader_1" class="form-subHeader">
              Please provide the details of the profile
            </div>
          </div>
        </div>
      </li>

      <li class="form-line form-line-column form-col-3" data-type="control_textbox" id="id_4">
        <label class="form-label form-label-top form-label-auto" id="label_4" for="input_4"> Personal Concept </label>
        <div id="cid_4" class="form-input-wide" data-layout="half">
          <input required type="text" id="input_4" name="personal_concept" data-type="input-textbox"
            class="form-textbox" data-defaultvalue="" style="width:310px" size="310" value="" placeholder=" "
            data-component="textbox" aria-labelledby="label_4" />
        </div>
      </li>
      <li class="form-line form-line-column form-col-4" data-type="control_textbox" id="id_8">
        <label class="form-label form-label-top form-label-auto" id="label_8" for="input_8"> Phone Number </label>
        <div id="cid_8" class="form-input-wide" data-layout="half">
          <input required type="text" id="input_8" name="phone" data-type="input-textbox" class="form-textbox"
            data-defaultvalue="" style="width:310px" size="310" value="" placeholder=" " data-component="textbox"
            aria-labelledby="label_8" />
        </div>
      </li>
      <li class="form-line form-line-column form-col-4" data-type="control_textbox" id="id_8">

        <label class="form-label form-label-top form-label-auto" for="type">Choose your color</label>
        <input type="color" name="main_color" d class="form-textbox" data-defaultvalue="" style="width:310px"
          size="310" />
      </li>

      <li class="form-line form-line-column form-col-8" data-type="control_fileupload" id="id_7">
        <label class="form-label form-label-top form-label-auto mb-3" id="label_7" for="input_7"> Upload Screenshot
        </label>
        <div id="cid_7" class="form-input-wide" data-layout="full">
          <div class="jfUpload-files-container">
            <input type="file" name="photo" multiple="" class="custom-file-input"
              data-file-accept="pdf, doc, docx, xls, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif"
              aria-label="Upload a File" />
          </div>
        </div>

      </li>

      <li class="form-line" data-type="control_textarea" id="id_6">
        <label class="form-label form-label-top form-label-auto" id="label_6" for="input_6"> Write your bio ... </label>
        <div id="cid_6" class="form-input-wide" data-layout="full">
          <textarea id="input_6" class="form-textarea" name="user_bio" style="width:648px;height:163px"
            data-component="textarea" aria-labelledby="label_6"></textarea>
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide" data-layout="full">
          {{#if message}}
          <div class="btn btn-alert">{{message}}</div>
          {{/if}}
          <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
            <button type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField">
              Confirm
            </button>
          </div>
        </div>
      </li>

      <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
      </script>